<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jalotsav.aalayam" >

    <!-- Get Internet connection status -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Get External Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Get Running Task -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Get Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Permission to Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.jalotsav.aalayam.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jalotsav.aalayam.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk android:minSdkVersion="14" tools:overrideLibrary="android.support.v4"/>

    <application
        tools:replace="android:icon, android:theme, android:label"
        android:allowBackup="true"
        android:name=".AalayamApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Aalayam"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.NoInternet_Connection"
            android:label="@string/no_intrnt"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Red_Light" >
            <intent-filter>
                <action android:name="intntfltrNoIntrntActvt" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Email"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Blue_Light"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Login_Pswrd"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Blue_Light"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".navgndrwer.doctor.NavgnDrawer_Main_Doctor"
            android:screenOrientation="portrait"
            android:theme="@style/JalotsavNavDrwrStyleTeal" >
        </activity>
        <activity
            android:name=".navgndrwer.doctor.NavgnDrwrDoctor"
            android:screenOrientation="portrait"
            android:theme="@style/MikePenzNavDrwrStyleTeal" >
        </activity>
        <activity
            android:name=".navgndrwer.doctor.NewsDetails"
            android:label="@string/news_dtls"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_OrangeDeep_Light" >
        </activity>
        <activity
            android:name=".navgndrwer.doctor.MyEquipmentDetails"
            android:label="@string/eqpmnt_dtls"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Indigo_Light" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.NavgnDrawer_Main_Patient"
            android:screenOrientation="portrait"
            android:theme="@style/JalotsavNavDrwrStyleBlue"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".common.ImageFullScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.VasScaleAddVasscale"
            android:label="@string/add_vasscale"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Blue_Light" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.VasScaleDetails"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.PaymentsDetails"
            android:label="@string/pymnt_dtls"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Blue_Midnight_Light" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.FullScreenImageViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".navgndrwer.patient.PatientProfileFrgmnt_CaseDetails"
            android:label="@string/case_dtls"
            android:screenOrientation="portrait"
            android:theme="@style/Alym_Pink_Light" >
        </activity>

        <activity android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.jalotsav.aalayam" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <service android:name=".service.FireMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FireInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:enabled="true"
            android:name=".service.InternetService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="32a76e9aa9c047c3ccc50d3b8dda79b2718c24dd" />
    </application>

</manifest>